@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 120px;
    font-family: $font-base;
    @media (min-width: $media-tablet-landscape) {
        align-items: center;
    }
}

.Title {
    text-align: center;
    margin-bottom: 32px;
    z-index: 1;
    position: relative;
    max-width: 310px;
    width: 100%;

    @media (min-width: $media-tablet) {
        max-width: 100%;
    }
    @media (min-width: $media-tablet-landscape) {
        margin: 0 auto 32px auto;
    }

    h2 {
        color: transparent;
        font-size: 32px;
        line-height: 34px;
        font-weight: 400;
        background: linear-gradient(91deg, #FFF -16.56%, rgba(255, 255, 255, 0.90) -0.25%, rgba(255, 255, 255, 0.00) 142.87%);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: top;
        background-repeat: no-repeat;
        text-align: left;

        @media (min-width: $media-tablet) {
            font-size: 72px;
            line-height: 68px;
        }

        @media (min-width: $media-tablet-landscape) {
            font-size: 90px;
            line-height: 90px;
            text-align: center;
        }
    }
}
.Title_one {

}

.Title_two {
width: 100%;
    @media (min-width: $media-tablet-landscape) {
        //max-width: 60%;

    }

    h2 {
        line-height: 34px;

        @media (min-width: $media-tablet) {
            line-height: 75px;
        }

        @media (min-width: $media-tablet-landscape) {
            line-height: 90px;
        }
    }
}

.Subtitle {
    z-index: 1;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    //max-width: 660px;

    @media (min-width: $media-tablet-landscape) {
        text-align: center;
        justify-content: center;
    }
    p {
        //max-width: 500px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        //color: #868686;
        color: #FFF;
        opacity: 0.5;

        @media (min-width: $media-tablet) {
            font-size: 18px;
        }
    }
}

.Subtitle_one {
    margin-bottom: 90px;

    @media (min-width: $media-tablet) {
        margin-bottom: 120px;
    }
}

//.Subtitle {
//
//}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $media-tablet-landscape) {
    max-width: 600px;
    }
    .FormContainer {
        margin-bottom: 28px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        position: relative;
        @media (min-width: $media-tablet-landscape) {
            max-width: 519px;
        }
        .FormInput {
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            padding: 4px;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            position: relative;
        }

    }
    .FormContainer:after {
        content: " ";
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        position: absolute;
        top: 36px;
    }
    .errorsInput.FormContainer:after {
        background: linear-gradient(90deg, #B20000 0%, rgba(178, 0, 0, 0.00) 100%);
    }
}

.FormWrapper {
    position: relative;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    z-index: 0;
    @media (min-width: $media-tablet-landscape) {

        justify-content: center;
    }
    .formBlock {
        width: 100%;
        @media (min-width: $media-tablet-landscape) {
            display: flex;
            justify-content: center;
        }
    }

    &:before {
        position: absolute;
        content: '';
        top: -100px;
        left: -200px;
        border-radius: 1696px;
        opacity: 0.6;
        background: #5841DF;
        filter: blur(212.5px);
        //-webkit-transform: translate3d(0,0,0);
        width: 1696px;
        height: 522px;

        @media (min-width: $media-tablet) {
            top: -250px;
            left: -100px;
            height: 722px;
        }
    }

    &:after {
        position: absolute;
        content: '';
        top: 0;
        right: -430px;
        border-radius: 579px;
        background: #DF96FF;
        filter: blur(300px);
        width: 500px;
        height: 500px;

        @media (min-width: $media-tablet) {
            top: -200px;
            right: -200px;
        }
    }
}
.CheckBoxContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    opacity: 0.5;

    align-self: flex-start;

    margin-bottom: 40px;
    .textApprove {
        max-width: 388px;
        font-size: 12px;
        font-weight: 400;
        margin-left: 14px;
    }
}
.ButtonContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .Btn {
        font-size: 13px;
        padding: 6px 18px;
        cursor: pointer;
        color: white;
        border: none;
        z-index: 5;
        align-items: center;
        border-radius: 16px;
        background: #5f43e3;
        transition: 0.2s ease;

        &:hover {
            background: #432DC9;
        }

        @media (min-width: $media-tablet) {
            padding: 8px 45px;
            font-size: 18px;
        }
    }
}
.errorText {
    color: #B20000;
    margin-top:15px;
}



.CheckBox {
    z-index: 10;
    min-width: 20px;
    input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        max-width: 18px;
        height: 18px;
        border-radius: 5px;
        border: 1px solid white;
        outline: none;
        cursor: pointer;

        &.Disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:checked {
            position: relative;
            border: 1px solid white;
            background: transparent;

            &::before {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background: url("../../assets/img/checkbox.svg") no-repeat;
                //background: transparent;
                background-position: center;
            }
        }

        &:focus {
            opacity: 0.8;
            border: 1px solid rgba(black, 0.8);
        }
    }
}

.FormSendsey {
    display: flex;
    justify-content: flex-start;
    background-color: transparent!important;
    @media (min-width: $media-tablet-landscape) {
        justify-content: center;
    }
}

.FormSendsey > div * {
    background-color: transparent!important;
}
.FormSendsey > div {
    background-color: transparent!important;
}
.FormSendsey > div > div > div > div > div > input {
    border: none!important;
    //border-bottom: 1px solid white!important;
    color: white!important;
    }
.FormSendsey > div > div > div > div > div {
    position: relative;
}
.FormSendsey > div > div > div > div > div:after {
     content: " ";
     height: 1px;
     width: 100%;
     background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
     position: absolute;
     top: 60px;
}
.FormSendsey > div > div > div > div > div:last-child:after {
    display: none;
}
//.FormSendsey > div > div > div > div > div:last-child {
//    background-color: #5f43e3!important;
//    border-radius: 16px!important;
//    max-width: 300px!important;
//    height: 44px!important;
//    //padding: 0px!important;
//    @media (min-width: $media-tablet-landscape) {
//        width: 200px!important;
//    }
//}

.FormSendsey > div > div > div > div > div:nth-child(7) {
    background-color: #5f43e3!important;
    border-radius: 16px!important;
    max-width: 300px!important;
    height: 44px!important;
    //padding: 0px!important;
    @media (min-width: $media-tablet-landscape) {
        width: 200px!important;
    }
}
.FormSendsey > div > div > div > div > div:nth-child(4) > label {
    display: none;
}
.FormSendsey > div > div > div > div > div:nth-child(4):after {
    display: none;
}
.FormSendsey > div > div > div > div > div:nth-child(4) > div > div > input {
    margin-right: 14px;
    width: 22px;
    height: 22px;
}
.FormSendsey > div > div > div > div > div:nth-child(4) > div > div > label {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    opacity: 0.5;
}
.FormSendsey > div > div > div > div > div:nth-child(5) > div > div > label {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    opacity: 0.5;
}
.FormSendsey > div > div > div > div > div:nth-child(5):after {
    display: none;
}
.FormSendsey > div > div > div > div > div:nth-child(5) > label {
    display: none;
}
.FormSendsey > div > div > div > div > div:nth-child(5) > div > div > input {
    margin-right: 14px;
}
//.FormSendsey > div > div > div > div > div:nth-child(6) {
//    display: none;
//}
.FormSendsey > div > div > div > div > div:last-child > input {
    border-bottom: none!important;
}
.sendsay-column {
    background-color: transparent!important;
}
