@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    font-family: $font-base;
}

.Title {
    text-align: center;
    margin: 0 auto 32px auto;
    z-index: 1;
    position: relative;
    max-width: 310px;
    width: 100%;

    @media (min-width: $media-tablet) {
        max-width: 100%;
    }

    h2 {
        color: transparent;
        font-size: 40px;
        line-height: 34px;
        font-weight: 400;
        background-image: conic-gradient(from -87deg at 8.22% 55.88%, #FFF 0deg, rgba(255, 255, 255, 0.90) 36.81592583656311deg, rgba(255, 255, 255, 0.00) 360deg);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: top;
        background-repeat: no-repeat;

        @media (min-width: $media-tablet) {
            font-size: 72px;
            line-height: 68px;
        }

        @media (min-width: $media-tablet-landscape) {
            font-size: 100px;
            line-height: 85px;
        }
    }
}
.Title_one {

}

.Title_two {
width: 100%;
    @media (min-width: $media-tablet-landscape) {
        //max-width: 60%;

    }

    h2 {
        line-height: 47px;

        @media (min-width: $media-tablet) {
            line-height: 75px;
        }

        @media (min-width: $media-tablet-landscape) {
            line-height: 120px;
        }
    }
}

.Subtitle {
    z-index: 1;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    p {
        //max-width: 500px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #868686;

        @media (min-width: $media-tablet) {
            font-size: 18px;
        }
    }
}

.Subtitle_one {
    margin-bottom: 90px;

    @media (min-width: $media-tablet) {
        margin-bottom: 120px;
    }
}

//.Subtitle {
//
//}

.Form {
display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;

    .FormContainer {
        margin-bottom: 28px;
        width: 519px;
        display: flex;
        justify-content:center;
        position: relative;
        .FormInput {
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            padding: 4px;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            position: relative;
        }

    }
    .FormContainer:after {
        content: " ";
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        position: absolute;
        top: 36px;
    }
}

.FormWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 0;

    &:before {
        position: absolute;
        content: '';
        top: -100px;
        left: -200px;
        border-radius: 1696px;
        opacity: 0.6;
        background: #5841DF;
        filter: blur(212.5px);
        //-webkit-transform: translate3d(0,0,0);
        width: 1696px;
        height: 522px;

        @media (min-width: $media-tablet) {
            top: -250px;
            left: -100px;
            height: 722px;
        }
    }

    &:after {
        position: absolute;
        content: '';
        top: 0;
        right: -430px;
        border-radius: 579px;
        background: #DF96FF;
        filter: blur(300px);
        width: 500px;
        height: 500px;

        @media (min-width: $media-tablet) {
            top: -200px;
            right: -200px;
        }
    }
}
.CheckBoxContainer {
    display: flex;
    justify-content: flex-start;
    color: #868686;
    margin-bottom: 40px;
    .textApprove {
        max-width: 388px;
        font-size: 12px;
        font-weight: 400;
    }
}
.ButtonContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .Btn {
        font-size: 13px;
        padding: 6px 18px;
        cursor: pointer;
        color: white;
        border: none;
        z-index: 5;
        align-items: center;
        border-radius: 16px;
        background: #5f43e3;
        transition: 0.2s ease;

        &:hover {
            background: #432DC9;
        }

        @media (min-width: $media-tablet) {
            padding: 8px 45px;
            font-size: 18px;
        }
    }
}



