@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Container {
    max-width: 1440px;
    background-color: #030303;
    margin: 0 auto;
    height: 300px;
    position: relative;
    background-position: bottom right;
    background-size: cover;
}

.TitleContainer {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.Title {
    font-family: $font-base;
    max-width: 1120px;
    text-align: center;
    color: #fff;
    font-size: 100px;
    font-weight: 400;
    line-height: 85%;
}
