@import "@/assets/styles/variables.scss";

.BtnWrapper {
  //position: fixed;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  z-index: 4;


  @media (min-width: $media-tablet) {
    bottom: 70px;
    right: 60px;
  }
}

.Btn {
  cursor: pointer;
  margin-left: 10px;
}

.BtnText {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.3;

  max-width: 150px;
  display: none;

  @media (min-width: $media-tablet) {
    display: block;
  }
}


.BtnInner {
  overflow: hidden;
  width: 52px;
  height: 32px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 3;
}


.BtnContent {
  width: calc(100% - 2px);
  height: calc(100% - 2px);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #000;
  transition: all 0.3s ease;
}

.BtnGradient {
  width: 170px;
  height: 170px;
  position: absolute;
  left: -0px;
  top: -75px;
  z-index: -1;
  background-image: -webkit-linear-gradient(0deg, white, #000);
  background-image:    -moz-linear-gradient(0deg, white, #000);
  background-image:     -ms-linear-gradient(0deg, white, #000);
  background-image:      -o-linear-gradient(0deg, white, #000);
  background-image:         linear-gradient(0deg, white, #000);

  -webkit-animation: rotate 10s ease-in-out infinite;
  -moz-animation: rotate 10s ease-in-out infinite;
  -o-animation: rotate 10s ease-in-out infinite;
  animation: rotate 10s ease-in-out infinite;
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg); /* IE 9 */
    -moz-transform: rotate(0deg); /* Firefox */
    -o-transform: rotate(0deg); /* Opera */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); /* IE 9 */
    -moz-transform: rotate(360deg); /* Firefox */
    -o-transform: rotate(360deg); /* Opera */
    -webkit-transform: rotate(360deg); /* Safari */
  }
}