@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Block {
    width: 100%;
    height: 100vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 10%;
        bottom: 0;
        width: 900px;
        height: 900px;
        border-radius: 899px;
        background: #2D2D2D;
        filter: blur(300px);
    }
}

.Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SubTitle {
    position: absolute;
    top: 50%;
    right: 38%;
    color: #fff;
    font-size: 20px;
    opacity: 0.8;
}
