@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-base;
  height: 100vh;

}

.Left {
  display: flex;
  flex-direction: column;
}

.Title {
  max-width: 900px;
  margin-bottom: 48px;

  h2 {
    color: transparent;
    font-size: 80px;
    line-height: 68px;
    font-weight: 400;
    background: conic-gradient(from -87deg at 8.22% 55.88%, #FFF 0deg, rgba(255, 255, 255, 0.90) 36.81592583656311deg, rgba(255, 255, 255, 0.00) 360deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.Text {
  max-width: 500px;
  margin-left: 30%;

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    opacity: 0.5;
  }
}
