@import "@/assets/styles/variables.scss";

.Block {
    display: flex;
    margin-bottom: 90px;
    flex-direction: column;
    font-family: $font-base;
    height: fit-content;

    @media (min-width: $media-tablet) {
        margin-bottom: 120px;
    }
    @media (min-width: $media-tablet-landscape) {
        justify-content: center;
        align-items: center;
    }
}

.Title {
    text-align: left;
    max-width: 300px;
    margin-bottom: 32px;
    height: fit-content;

    @media (min-width: $media-tablet) {
        max-width: 650px;
    }

    @media (min-width: $media-tablet-landscape) {
        margin: 0 auto 32px auto;
        text-align: center;
    }

    h2 {
        color: transparent;
        font-size: 40px;
        line-height: 45px;
        font-weight: 400;
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: top;
        background-repeat: no-repeat;

        @media (min-width: $media-tablet) {
            font-size: 72px;
            line-height: 85px;
        }

        @media (min-width: $media-tablet-landscape) {
            font-size: 100px;
            line-height: 90px;
        }
    }
}

.TitleOne {
    position: relative;
    z-index: 3;
    text-align: left;
    @media (min-width: $media-tablet-landscape) {
        max-width: 1150px;
        text-align: center;
    }

    h2 {
        background-image: conic-gradient(from -82deg at 0% 59.78%, #FFF 0deg, rgba(255, 255, 255, 0.90) 36.81592583656311deg, rgba(255, 255, 255, 0.00) 360deg);
    }
}

.TitleTwo {
    margin-bottom: 38px;

    @media (min-width: $media-tablet) {
        margin-bottom: 60px;
    }

    @media (min-width: $media-tablet-landscape) {
        max-width: 900px;
    }

    h2 {
        background-image: conic-gradient(from -77deg at -7.48% 50%, rgba(255, 255, 255, 0.90) 36.81592583656311deg, rgba(255, 255, 255, 0.00) 360deg);
        line-height: 49px;


        @media (min-width: $media-tablet) {
            line-height: 74px;
        }

        @media (min-width: $media-tablet-landscape) {
            line-height: 105px;
        }
    }
}

.Subtitle {
    margin-bottom: 90px;
    display: flex;
    //align-items: center;
    //justify-content: center;
    //text-align: center;
    @media (min-width: $media-tablet-landscape) {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    p {
        max-width: 500px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #868686;


        @media (min-width: $media-tablet) {
            font-size: 18px;
        }
    }
}

.Faq {
    margin-bottom: 120px;
    width: 100%;

    @media (min-width: $media-tablet-landscape) {
        max-width: 590px;
    }

    .FaqBlock {
        display: flex;
        flex-direction:column;
        justify-content:center;
        border-top: 1px solid rgba(255, 255, 255, 0.60);
        color: #868686;

        .FaqTitle {
            display: flex;
            cursor: pointer;

            .FaqText {
                width: 100%;
                padding: 24px 0px;
            }

            .IconBg {
                display: flex;
                align-items: center;
            }
        }

        .Content {
            overflow:hidden
        }

        .FaqTitle:hover {
            .plusIcon {
                fill: white;
                transition: fill .4s;
            }
        }
    }
}


.ListNum {
    color: #868686;
    list-style-type: decimal;
}
