@import "@/assets/styles/variables.scss";


.Block {
    position: relative;
    z-index: 0;
    margin-bottom: 120px;


    @media (min-width: $media-tablet-landscape) {
        &::before {
            content: '';
            position: absolute;
            right: -40%;
            top: -160%;
            width: 800px;
            height: 800px;
            border-radius: 899px;
            background: #2D2D2D;
            filter: blur(300px);
            z-index: 0;
        }


        &::after {
            content: '';
            position: absolute;
            left: -30%;
            top: -50%;
            width: 1119px;
            height: 899px;
            border-radius: 1119px;
            background: #070707;

            filter: blur(110px);
            z-index: 0;
        }
    }
}

.Box {
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 36px;
    border: 1px solid #464646;
    position: relative;
    overflow: hidden;
    z-index: 2;

    @media (min-width: $media-tablet) {
        padding: 48px;
    }

    &::before {
        position: absolute;
        content: '';
        bottom: -105%;
        right: -90%;
        border-radius: 666px;
        opacity: 0.6;
        background: #5841DF;
        -webkit-filter: blur(130.50294494628906px);
        z-index: 10;
        -moz-filter: blur(130.50294494628906px);
        -ms-filter: blur(130.50294494628906px);
        filter: blur(130.50294494628906px);
        width: 666px;
        height: 666px;


        @media (min-width: 500px) {
            bottom: -90%;
            right: -40%;
        }


        @media (min-width: $media-tablet) {
            bottom: -220%;
            right: -40%;
            border-radius: 1531px;
            opacity: 0.6;
            background: #5841DF;
            width: 1531px;
            height: 1531px;
            filter: blur(300px);
            -webkit-filter: blur(300px);
            -moz-filter: blur(300px);
            -ms-filter: blur(300px);
        }

        @media (min-width: $media-tablet-landscape) {
            bottom: -1400px;
            right: auto;
            left: -400px;
        }
    }
}

.WrapperTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;

    @media (min-width: $media-tablet) {
        margin-bottom: 36px;
    }

    @media (min-width: $media-tablet-landscape) {
        flex-direction: row;
    }
}

.Left {
    margin-bottom: 56px;

    @media (min-width: $media-tablet) {
        margin-bottom: 72px;
    }

    @media (min-width: $media-tablet-landscape) {
      margin: 0;
    }
}

.Right {
    color: white;
    opacity: 0.5;
    max-width: 377px;
    height: 180px;



    @media (min-width: $media-tablet) {
        height: 150px;
    }

    @media (min-width: $media-tablet-landscape) {
        max-width: 37%;
    }
}

.Title {
    font-family: $font-base;
    font-weight: normal;
    font-size: 40px;
    line-height: 34px;
    max-width: 232px;

    background-image: conic-gradient(from 267deg at 6.96% 50%, #FFF 0deg, rgba(255, 255, 255, 0.90) 36.81592583656311deg, rgba(255, 255, 255, 0.00) 360deg);
    color: transparent;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: top;
    background-repeat: no-repeat;

    @media (min-width: $media-tablet) {
        font-size: 60px;
        line-height: 54px;
        max-width: 350px;
    }

    @media (min-width: $media-tablet-landscape) {
        max-width: 700px;
    }

    span {
        line-height: 70px;
    }
}

.SubTitle {
    font-size: 32px;
    line-height: 27px;
    color: #D9D9D9;
    margin-bottom: 16px;

    @media (min-width: $media-tablet) {
        font-size: 40px;
        line-height: 34px;
        background-image: conic-gradient(from 194deg at 27.44% 100%, #FFF 0deg, rgba(255, 255, 255, 0.90) 36.81592583656311deg, rgba(255, 255, 255, 0.00) 360deg);
        color: transparent;
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: top;
        background-repeat: no-repeat;
    }

    @media (min-width: $media-tablet-landscape) {
        line-height: 42px;
    }
}

.Text {
    font-size: 18px;
    line-height: normal;

    @media (min-width: $media-tablet) {
        font-size: 20px;
    }
}

.WrapperBottom {
    p {
        color: #8884A0;
        font-size: 16px;
        max-width: 190px;

        @media (min-width: $media-tablet) {
            max-width: 100%;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
