@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.Container {
    max-width: 1440px;
    background-color: #030303;
    margin: 0 auto;
    height: 660px;
    position: relative;
    background-image: url("../../assets/img/bg-start-page.svg");
    background-position: bottom right;
    background-size: cover;
}

.TitleContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Title {
    font-family: $font-base;
    font-size: 132px;
    text-align: center;
    color: #fff;
    background-clip: text;
}

.SubTitle {
    font-family: $font-base;
    color: #fff;
    max-width: 220px;
    position: absolute;
    right: 5rem;
}
