@import "@/assets/styles/variables.scss";


.Footer {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $media-tablet) {
    margin-bottom: 35px;
  }

}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1300px) {
    flex-direction: row;
    align-items: center;
  }
}

.LeftLink,
.RightLink {
  display: flex;
  flex-direction: column;

  @media (min-width: $media-tablet) {
    flex-direction: row;
  }

  a,
  p {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 20px;

    @media (min-width: $media-tablet) {
      margin-right: 20px;
    }
  }

  a {
    text-decoration: underline;
  }
}
