@import "@/assets/styles/variables.scss";


.Footer {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $media-tablet) {
    margin-bottom: 35px;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $media-tablet-landscape) {
    justify-content: space-between;
  }

  @media (min-width: 1300px) {
    flex-direction: row;
  }
}

.LeftLink,
.RightLink {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $media-tablet) {
    flex-direction: row;
    text-align: left;
  }

  a,
  p {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 20px;

    @media (min-width: $media-tablet) {
      &:not(:last-child) {
        margin: 0 24px 0 0;
      }
    }
  }

  a {
    text-decoration: underline;
  }
}
