@import "@/assets/styles/variables.scss";


.Block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  max-width: 300px;
  //margin: 0 auto 56px auto !important;
  margin-bottom: 56px !important;
  z-index: 2;
  position: relative;

  @media (min-width: $media-tablet) {
    margin: 0;
    max-width: 600px;
    margin: 0 auto 56px auto !important;
  }

  @media (min-width: $media-tablet-landscape) {
    max-width: 1000px;
  }

  h1 {
    font-family: $font-base;
    color: transparent;
    background:conic-gradient(from 270deg at 1.57% 52.44%, #FFF 0deg, rgba(255, 255, 255, 0.9) 36.8159258366deg, rgba(255, 255, 255, 0) 360deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    text-align: left;


    @media (min-width: $media-tablet) {
      font-size: 72px;
      line-height: 68px;
      text-align: center;
    }

    @media (min-width: $media-tablet-landscape) {
      font-size: 100px;
      line-height: 100px;
    }

  }
}

.TitleString_3 {
  line-height: 40px;

  @media (min-width: $media-tablet) {
    line-height: 50px;
  }

  @media (min-width: $media-tablet-landscape) {
    line-height: 86px;
  }
}


.TitleString_4 {
  line-height: 40px;

  @media (min-width: $media-tablet) {
    line-height: 50px;
  }

  @media (min-width: $media-tablet-landscape) {
    line-height: 95px;
  }
}